body {
  user-select: none;
  /* min-width: 300px; */
  font-family: Arial, Helvetica, sans-serif;
}

main {
  margin: 10px;
}

.containerRight {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-top: 10px;
  flex: 1;
}

button {
  min-width: 80px;
  margin-left: 5px;
}

#btnOptions { 
  margin-top: 10px;
  margin-right: 6px;
  border-radius: 10px;
  cursor: pointer;
  width: 40px;
}

#divOptionsList {
  position: static;
}

#lblTranslating,
#lblTranslated,
#lblError,
#btnRestore,
#btnTryAgain {
  display: none;
  margin-top: 10px;
}


option {
  color: black;
}

#divIconTranslate:hover #iconTranslate {
  opacity: 0.6;
}

#iconSwap {
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
  opacity: 0.8;
}

#divIconTranslate:hover #iconSwap {
  display: block;
}

#btnOptions option {
  font-size: small;
  font-weight: normal;
}

.pointerIgnore {
  pointer-events: none;
}

#divIconTranslate>img {
  padding: 0;
}