body {
    width: 300px;
    font-family: Arial, sans-serif;
    padding: 10px;
}

#swap-languages {
    border: none;
    background: none;
    font-size: 24px;
    cursor: pointer;
    padding: 0;
    align-self: center;
    margin: 0 5px;
}

body.dark {
    color: #e8e6e3 !important;
    background-color: #181a1b !important;
}

body.dark select, body.dark option {
    color: GhostWhite !important;
    background-color: #181a1b !important;
}

body.dark .w3-button {
    color: #e8e6e3 !important;
    background-color: #2b2d2e !important;
}

body.dark .w3-button:hover {
    background-color: #3c3f41 !important;
}

body.dark .w3-select, body.dark #btn-options {
    background-color: #2b2d2e !important;
    color: #e8e6e3 !important;
    border: 1px solid #454a4d !important;
}

body.dark .w3-cobalt {
    background-color: #0050ef !important;
    color: white !important;
}